@use 'variables';

footer {
   background-color: variables.$VeryDarkBlackBlue;
   border-top-right-radius: 100px;
   padding-top: 76px;
   padding-bottom: 70px;
   margin-top: 50px;

   .nav-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 2200px;
      margin: auto;

      &__logo {
         margin-bottom: 35px;
      }

      &__menu .menu-item {
         text-align: center;
         margin-top: 40px;

         h6 {
            font-size: 18px;
            font-weight: 500;
            font-family: UbuntuMedium;
            color: variables.$White;
         }

         .options {
            font-size: 18px;
            font-family: UbuntuRegular;
            color: variables.$GrayishBlue;
            margin-top: 34px;

            li {
               margin-bottom: 11px;

               span {
                  position: relative;

                  &::after {
                     content: '';
                     position: absolute;
                     left: 0;
                     bottom: -2px;
                     width: 100%;
                     height: 1px;
                     background-color: variables.$GrayishBlue;
                     opacity: 0;
                     transition: all 0.1s linear;
                  }

                  &:hover {
                     cursor: pointer;

                     &::after {
                        opacity: 1;
                     }
                  }
               }
            }
         }
      }
   }

   @media (min-width: variables.$isDesktop) {
      margin-top: 230px;
      padding-top: 70px;
      padding-bottom: 60px;

      .nav-container {
         flex-direction: row;
         align-items: flex-start;
         justify-content: space-between;
         padding-left: 165px;
         padding-right: 327px;

         &__logo {
            flex-grow: 1;
         }

         &__menu {
            width: 685px;
            padding-top: 7px;
            display: flex;
            justify-content: space-between;

            .menu-item {
               margin: 0 20px;
               text-align: left;

               h6 {
                  font-size: 15px;
               }

               .options {
                  font-size: 14px;
                  margin-top: 38px;

                  li {
                     margin-bottom: 17px;
                  }
               }
            }
         }
      }
   }
}
