@use 'variables';
@use 'navbar';
@use 'sass:color';

header {
   background-image: url('/src/assets/images/bg-pattern-intro-mobile.svg');
   background-position: 35% -240px;
   padding-bottom: 156px;
   position: relative;
   overflow: hidden;
   border-bottom-left-radius: 100px;

   .bg-img {
      @include variables.Background;
      background: linear-gradient(135deg, variables.$VeryLightRed, variables.$LightRed);
   }

   h1,
   p {
      font-family: Overpass;
      color: white;
      text-align: center;
      padding: 0 35px;
   }

   h1 {
      font-weight: variables.$OverpassSemiBold;
      font-size: 34px;
      margin-top: 56px;
   }

   p {
      font-weight: variables.$OverpassLight;
      font-size: 18px;
      margin-top: 16px;
   }

   .btn-container-header {
      text-align: center;
      margin-top: 46px;

      button {
         &.white {
            @include variables.BtnWhite;
            margin-right: 10px;
         }

         &.transparent {
            @include variables.BtnTransparent;
         }
      }
   }

   @media (min-width: variables.$isDesktop) {
      background-image: url('/src/assets/images/bg-pattern-intro-desktop.svg');
      background-position: 25% 52.5%;

      .bg-img {
         background: linear-gradient(to right, variables.$VeryLightRed, variables.$LightRed);
      }

      h1 {
         font-size: 64px;
         margin-top: 64px;
         letter-spacing: -2px;
      }

      p {
         font-size: 20px;
         margin-top: 12px;
      }
   }
}
